.big-button {
  width: 100%;
  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $m-size;
  padding: $m-size;
  border: none;
  border-bottom: $m-size darken($blue, 10%) solid;
  margin-bottom: $s-size;
}

.big-button:disabled {
  opacity: 0.5;
}

.button--link {

  background: none;
  border: none;
  color: $blue;
  padding: 0;

}

.button--link:focus {

  color: darken($blue, 20%);
  outline: none;
}
