.big-button {
  width: 100%;
  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $m-size;
  padding: $m-size;
  border: none;
  border-bottom: $s-size darken($blue, 10%) solid;
  margin: 0 0 $s-size 0;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {

  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $m-size;
  border: none;
  padding: $m-size;

}

.add_option_form {
  background: $off-black;
  padding: $s-size;
  display: flex;
}

.error {
  background: $off-black;

  border-bottom: 0.1rem white solid;
  color: white;
  padding: $m-size;

  font-weight: initial;
}

.form_input {
  margin: 0 $s-size 0 0;
  flex-grow: 1;
}

.form_input:focus {
  outline: none;
}


.button--link {

  background: none;
  border: none;
  color: orangered;
  padding: 0;

}

.button--link:focus {
  outline: none;
}

@media (max-width: $desktop-breakpoint) {

  .add_option_form {
    flex-direction: column;
  }

  .form_input {
    margin: 0 0 $s-size 0;
    height: 5rem;

  }

}