.big-button {
  width: 100%;
  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $m-size;
  padding: $m-size;
  border: none;
  border-bottom: $m-size darken($blue, 10%) solid;
  margin-bottom: $s-size;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {

  background: $blue;
  color: white;
  font-weight: bold;
  font-size: $m-size;
  border: none;
  padding: $m-size;

}

.add_option_form {
  background: $off-black;
  padding: $s-size;
  display: flex;
}

.error {
  background: $off-black;

  border-bottom: 0.1rem white solid;
  color: white;
  padding: $m-size;

  font-weight: initial;
}

.form_input {
  flex-grow: 1;
}

.form_input:focus {
  outline: none;
}


.button--link {

  background: none;
  border: none;
  color: orangered;
  padding: 0;

}

.button--link:focus {
  outline: none;
}
